.topicos {
    align-content: center;
    background: var(--azul-degrade);
    font-size: 16px;
    text-align: center;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin: 1em;
    padding-top: 2em;
    text-transform: uppercase;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap; 
    /*A propriedade CSS flex-wrap define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebrados em várias linhas.*/
    font-size:  14px;
    font-weight: 700;
    justify-content: center;
    padding: 1em 2vw;
}

.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    margin: 10em 0.5em;
    text-decoration: none;
    padding: 16px 24px;
    line-height: 4.5em;
    border-radius: 10px;
}

.topicos__link:hover {
    background-color: var(--cinza-escuro);
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista {
        padding: 0 8vw 2em;
    }
    
    .topicos__link {
        font-size: 24px;
        padding: 24px 32px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos__lista {
        padding: 0 24vw 2em;
    }
}